body,html{
margin: 0 auto;
}
h1{
font-family: Arial, Helvetica, sans-serif;
color: black;
}
.maca{
color: red;
}
.laranja{
color: orange;
}
.melancia{
color: green;
}
.banana{
color: yellow;
}
.tomate{
color: darkred;
}